*
{
	overflow: none;
}
.middle_box
{
margin: 0 auto; 
width: 1350px; 
max-width: 95%;
position: relative;
}

.blank
{
	width: 100%;
	height: 4%;
	
}
.middle_texts
{
	width: 70%;
}
.middle_box_header_text_box
{
font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: 110%;

color: #212353;
mix-blend-mode: normal;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.middle_box_other_text_box
{
font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 160%;
color: #4B5D68;
}

.middle_box_other_image_box
{
position: absolute;
right: 0px;
top: 0px;

}




@media only screen and (max-width: 1345px) {
	
.middle_texts{width: 50%;}
}


@media only screen and (max-width: 1175px) {
.top{height: 20%;}
}



@media only screen and (max-width: 1050px) {
.middle_box_other_image_box{display: none;}
.middle_texts
{
width: 490px;
margin: 0 auto;
}
}