.text_type_1
{
	font-weight: 800;
	font-size: 24px; 
}
.text_type_2
{

font-weight: 800;
font-size: 48px;
line-height: 160%;
}
.text_type_3
{
font-weight: 300;
font-size: 24px;
line-height: 160%;
}
.text_type_4
{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 160%;
color: #212353;
}
.text_type_5
{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 160%;

}
.text_type_6
{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 160%;

}
.text_type_7
{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 160%;
color: #738CE3;
}
.text_type_8
{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 160%;
color: #212353;
}
.text_type_9
{
	font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 160%;
}
.text_type_10
{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 160%;
	
}
.text_type_11
{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 160%;
color: #212353;
}
.text_type_12
{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 160%;
color: #C78FFE;
}
.text_type_13
{
	font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 45px;

color: #212353;
}
.text_type_14
{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;

color: #212353;
}
.text_type_15
{
	font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;

color: #212353;
}

.text_type_16
{
	font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 63px;
color: #212353;
}

.input_type_text
{
vertical-align: middle;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 160%;
padding: 15px;
}
